#row1{
	background: url(images/backdiv.jpg);
	color: white;
	text-align: center;
}
#row2{
	text-align: center;
}
#row3{
	background:url(images/s_image.jpg);
}
#row5 {
margin: 10px;

}
#row5 h1 {
	text-align: center;
}
#row5 img {
	width: 180px;
	height: 120px;
	padding: 5px;
}
#row6 {
	background: url(images/c_image.jpg);
}