#row1 {

	background:url(../images/backimg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color:white ;
	text-align: center;
}
#row1 h1 {
	text-align: center;
	
}
#logo{
	height: 60px;
	margin-bottom: 20px;
	margin-left: 50%
}
#mouseclick {
	height: 50px;
	margin-top:200px;
	margin-left: 50% 
}
#row2{
	text-align: center;
	align-items: center;
	line-height: 1.8rem;
	margin-bottom: 30px;
}
#row2 h2 {
	text-align: center;
	margin-left: 45%;
	margin-top: 20px;
}

#row3{
	background-image: url(../images/s_image.jpg);
	background-size: cover;
	text-align:center;

	line-height: 1.7rem;
	color: white;
	height: 300px;
	margin-top: 20px;
	padding-top: 100px;
}
#row3 h2 {
	text-align: center;
	margin-left: 45%;	
}
#row3 p {
	margin-left: 120px;
}
#row4{
	margin-left: 70px;
	margin-top: 30px;
}
.design{
	display: none;
}
.development {
	display: none;
}
.product_man {
	display: none;
}
#row5 {
margin: 10px;
padding-left: 40px;

}
#row5 h2 {
	text-align: center;
}
#row5 img {
	width: 210px;
	height: 150px;
	padding: 8px;
}
#row5 img:hover {
	transform: scale(1.15);
	transition: 0.8s
}
#portfolio{
	padding-bottom: 10px;
}
#portfolio h2 {
text-align: center;
}
#row6 {
	background: url("../images/c_image.jpg");
	height: 300px;
	width: 100%;
	margin: 30px 70px;
	padding: 10px;
}
#name {
	width: 300px;
	padding: 10px;
	margin: 10px;

}
#email {
	width: 300px;
	padding:10px;
	margin: 10px;
}
#message {
	width: 500px;
	margin: 10px;
	padding:10px;
}

#row7 {
	margin: 10px 60px;
}	
#row7 img {
	margin: 5px;
	padding: 8px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	box-shadow: 0px 5px 4px rgba(0,0,0,.5)

}
#row7 img:hover {
	transform: translate(0,-10px);
	transition: 0.7s;
	
}